{{#> layout title="Taco Sploder" }}

    {{#*inline "content"}}
        <div class='home'>
            <h1>Rooms</h1>
            <a href="/tacos-n-friends">Tacos n friends</a>
        </div>
    {{/inline}}

{{/layout}}