{{#> layout title="Fishes" }}

    {{#*inline "content"}}
        <div class="room">
            <h1>Tacos n Friends! =P</h1>
            <div id="my-taco" class="taco-cursor"></div>
        </div>
    {{/inline}}

{{/layout}}
