{{#> layout title="Taco Sploder" }}

    {{#*inline "content"}}
        <div class="room">
            <canvas id='canvas'></canvas>
            <h1>Tacos n Friends! =P</h1>
            <div id='my-taco' class='taco-cursor'></div>
            <div id='scoreboard'></div>
        </div>
    {{/inline}}

{{/layout}}
